body {
    background-color: #1e1e1e;
    color: #fff;
}

#game-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}

#game-container .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    cursor: pointer;
}
